<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    Made by Tiffany Bouchard
    <a class="grey-text text-lighten-4 right" href="#!">Link</a>
    <a class="grey-text text-lighten-4 right" href="#!">Link</a>
    </div>
  </div>
</footer>
</html>