<!DOCTYPE html>
<html>
  <head>
    <title>Forkpitch</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="views/pf.png" />
  </head>
  <body>
    <!-- navigation bar -->
    <div class="navigation">
      <a href="/" class="header">Forkpitch</a>
      <ul class="main-navlinks">
        <li><a href="/" class="navlinks">HOME</a></li>
        <li>
          <% if (user) { %>
          <a class="navlinks" href="/myreviews">MY REVIEWS</a>
          <% } %>
        </li>
        <li>
          <% if (user) { %>
          <a class="navlinks" href="/saved">SAVED</a>
          <% } %>
        </li>
        <li>
          <% if (user) { %>
          <a class="navlinks" href="/logout">LOG OUT</a>
          <% } else { %>
          <a class="navlinks" href="/auth/google">LOGIN</a>
          <% } %>
        </li>
        <li>
          <a href=""><i class="material-icons search">search</i></a>
        </li>
      </ul>
    </div>

    <!-- list out albums added to following -->

    <main></main>

    <!--  footer  -->
  </body>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="footer container center">
        <p>
          CREATED BY
          <a href="https://tiffbouchard.com" target="blank" class="footer-links"
            >TIFFANY BOUCHARD</a
          >
          / CREDIT TO
          <a href="https://pitchfork.com" target="blank" class="footer-links"
            >PITCHFORK</a
          >
        </p>
      </div>
    </div>
  </footer>
</html>
