@font-face {
  font-family: 'Tiempos Headline SemiBold';
  src: url('../fonts/TiemposHeadlineTest-Bold.otf') format('otf'),
  url('../fonts/tiempos-headline-test-bold.woff') format('woff');
}

@font-face {
  font-family: 'Tiempos Headline Light Italic';
  src: url('../fonts/TiemposHeadlineTest-LightItalic.otf') format('otf'),
  url('../fonts/tiempos-headline-test-light-italic.woff') format('woff');
}

/* Nav Bar */
.header {
  font-family: "Tiempos Headline SemiBold", serif;
  color: #2b2b2b;
  font-size: 50px;
  margin-top: 35px;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.main-navlinks {
  width: 50%;
  display: flex;
  justify-content: center;
}

.navlinks , .navp {
  font-family: "Helvetica";
  font-size: 12px;
  color: #2b2b2b;
  margin: 10px;
  font-weight: bold;
}

.navlinks:hover {
  transition: 0.5s;
  color: #ff3530;
}

.navp {
  font-size: 10px;
  margin: 0px;
}

.welcome {
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-footer {
  background-color: rgb(0, 0, 0);
  height: 100px;
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;
}

footer.page-footer {
  padding: 0;
  font-size: 10px;
}

.footer-links {
  color: #b0b0b0;
}

.footer-links:hover {
  text-decoration: underline;
}

main {
  flex: 1 0 auto;
  padding: 50px;
  background-color: #f7f7f7;
}

.waves-effect {
  background-color: #2b2b2b;
}
.waves-effect:hover {
 background-color: #363636;
}
.input-group-addon {
  background-color: #2b2b2b;
  box-shadow: none;
}
.input-group-addon:hover {
  background-color: #363636;
  box-shadow: none;
}
#delete-review {
  background-color: rgb(114,148,178);
  margin: 0 0px 10px 0;
}
#delete-review:hover {
  background-color: rgb(204, 32, 66);
}
#edit-review {
  margin: 0 10px 10px 0;
}
.card-image {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.image {
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
}
.card-image:hover .overlay {
  opacity: 1;
  transition: all .9s ease;
}
.score {
  color: black;
  font-size: 25px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#show-cover {
  box-shadow: 2px 2px 5px;
}

.recent-user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading2 {
  font-family: "Helvetica";
  font-weight: lighter;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}

.heading2:after {
  content : "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: solid 1px #ff3530;
}

/* Recent reviews area and cards */

.recent-reviews {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recent-reviews div {
  text-align: center;
  margin: 10px;
  background-color: transparent;
  width: 250px;
  max-width: 250px;
  height: auto;
  border-bottom: solid 1px transparent;
}

.recent-reviews .user-review-card:hover {
  cursor: pointer;
  transition: 0.5s;
  border-bottom: solid 3px #ff3530;
}

.album-cover {
  width: 100%;
  padding: 0px;
}

div.details {
  color: black;
  margin: 0px;
  padding: 10px;
}

.heading3 {
  font-weight: bolder;
}

.heading4 {
  font-style: italic;
  font-weight: lighter;
}

.date {
  font-size: 11px;
  color: grey;
}

.user-review-card .author {
  font-size: 12px;
  font-weight: bolder;
}

.material-icons.search {
  color: #ff3530;
}

#noreviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  color: #ff3530;
}

.user-review-card {
  position: relative;
}

.user-rating {
  position: absolute;
  top: 3%;
  right: 5%;
  background-color: #ff3530;
  color: whitesmoke;
  padding: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}