body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.nav-wrapper {
  background-color: rgb(0, 0, 0);
}
.nav-links:hover {
  background-color: rgb(32, 32, 32);
}
.page-footer {
  background-color: rgb(0, 0, 0);
}
main {
  flex: 1 0 auto;
  padding: 50px;
}
footer.page-footer {
  padding: 0;
}
a.brand-logo {
  padding: 0 0 0 20px;
}
.welcome {
  text-align: center;
  margin: 10px;
}
.card-image {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.image {
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
}
.card-image:hover .overlay {
  opacity: 1;
  transition: all .9s ease;
}
.score {
  color: black;
  font-size: 25px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#show-cover {
  box-shadow: 2px 2px 5px;
}