<!DOCTYPE html>
<html>
  <head>
    <title>Forkpitch</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- navigation bar -->
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Forkpitch</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/reviews/mine">My Reviews</a></li>
          <li>
            <% if (user) { %>
            <a href="/logout"
              ><i class="material-icons left">trending_flat</i>Log Out</a
            >
            <% } else { %>
            <a href="/auth/google"
              ><i class="material-icons left">vpn_key</i>Login with Google</a
            >
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
    <!-- search bar  -->
    <main>
      <form action="/reviews" method="GET">
        <div class="container">
          <div class="row">
            <div class="input-field col s11">
              <i class="material-icons prefix">search</i>
              <input name="" id="search" type="text" class="validate" />
            </div>
            <div class="input-field col s1">
              <button type="submit" class="input-group-addon btn">
                search
              </button>
            </div>
          </div>
        </div>
      </form>
    </main>
    <!--  cards where reviews will be listed out, use ejs to render a card for each review   -->

    <!--  footer  -->
  </body>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        Made by Tiffany Bouchard
        <a class="grey-text text-lighten-4 right" href="#!">Home</a>
        <a class="grey-text text-lighten-4 right" href="#!">My Reviews</a>
      </div>
    </div>
  </footer>
</html>
